<header>
    <nav class="navbar section-content">
        <a href="#" class="nav-logo">
            <h2 class="logo-text">Meal Major</h2>
        </a>

        <ul class="nav-menu">
            <button id="menu-close-button" class="fas fa-times"></button>

            <li class="nav-item">
                <a href="/html/homepage.html" class="nav-link">📅 Meal Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="recipes-link">🍽️ Recipes</a>
            </li>
            <li class="nav-item">
               <a href="#" id="nav-goals" class="nav-link">⭐️ Goals</a>
            </li>
            <li class="nav-item">
                <a href="/html/accountSettings.html" class="nav-link">👤</a>
            </li>
            <li class="nav-item">
                <a href="/html/login.html" class="nav-link" id="logout">Logout</a>
            </li>
        </ul>

        <button id="menu-open-button" class="fas fa-bars"></button>
    <script src="header.js" defer></script>
    </nav>
</header>
